.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}
.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}

/* ----------------------------------- */

.block {
  /* background: linear-gradient(#7dc867, #c95a3f,  #373acf); */
  /* background: radial-gradient(#7dc867, #c95a3f,  #373acf); */
  /* background: url("../images/dog.jpg") 20% 50%  no-repeat; */
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  /* background-repeat: space; */
  /* background-attachment: fixed; */
  /* background-position: x y; */
  /* background-attachment: local; */
  /* overflow: scroll; */
}

/*  Home work 1 variant */
.block {
  background: url("../images/dog.jpg"), linear-gradient(#7dc867, #c95a3f,  #373acf);
  background-repeat: no-repeat;
  background-position: center;
}

/*  Home work 2 variant */
.block {
  background: url("../images/dog.jpg") center no-repeat, linear-gradient(#7dc867, #c95a3f,  #373acf);
}