*
{
	margin: 0px;
	padding: 10px;
}

.info{
	display: inline-block;
	width: 200px;
}

fieldset{
	background-color: rgb(169, 226, 183);
}

form{
	font-weight: 700;
	background-color: rgb(169, 226, 183);
	width: 468px;
}


.button1{
	width: 100px;
	margin-top: 12px;
	margin-left: 0px;
	font-weight: 700;
}

.button2{
	width: 100px;
	margin-left: 50px;
	font-weight: 700;
}

.cucumbers{
	text-align: center;
	margin-top: 20px;
}

.data{
	text-align: center;
}

p{
	padding-left: 10px;
	text-align: center;
	width: 100px;
	justify-content: center;
	align-items: center;
}
.otstup{
	display: inline-flex;
	padding: 0;
	padding-bottom: 15px;
}