*{
  margin: 0px;
  padding: 0px;
}

.table {
	width: 60%;
	margin-bottom: 20px;
	border: 15px solid #cbf1f1;
	border-top: 5px solid #cbf1f1;
  border-collapse: collapse; 
  text-align: center;
  font-size: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #cbf1f1;
	border: none;
	border-bottom: 5px solid #cbf1f1;
}
.table td {
	padding: 5px;
  border: none;
	border-bottom: 5px solid #cbf1f1;
}

.table caption {
  padding: 10px;
  font-weight: bold;
}


