*
{
	margin: 20px;
	padding: 0px;
}
/* 
div{
	color: green;
}
.parent{
	color: red;
	border: 3px solid black;
}

#id-block{

}

.block1, .block2, .block3{
	color: red;
}

div.blue-block{
	color: blue;
}

div .orange{
	color: orange;
}

.parent>.child-1{
	color: orange;
} */

.parent{
	color: red;
	border: 3px solid black;
	width: 125px;
	margin-left: 450px;
}

a{
	text-decoration: none;
	color: rgb(27, 133, 99);
}

.click_on_me{
	margin-left: 276px;
}

a:hover{
	text-decoration: none;
	color: cornflowerblue;
	content: "";
  clear: both;
  visibility: hidden;
}


/*  1 задание */
p.text--bold{
	text-indent: 30px;
	width: 1000px;
}

/*  2 задание */

.parent .child{
	color: rgb(33, 16, 182);
}
/*  3 задание */

a[href="#blog"] {
	color: rgb(233, 27, 27);
}

